In [1]:
#Import packages

from sklearn.feature_extraction.text import CountVectorizer
from scipy.spatial import distance
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
#Reading the corpus

df=pd.read_csv(r'C:\Users\Sonu\Desktop\corpus.csv',encoding='utf-8')

In [12]:
df.columns

Index(['Section_ID', 'Section_Text'], dtype='object')

In [13]:
df.shape

(5135, 2)

In [14]:
df.head()

  Section_ID                                       Section_Text
0     Cite-1  authority. this part is issued pursuant to 12 ...
1     Cite-2  purpose this part prescribes standards under w...
2     Cite-3  scope. the standards set forth in this part ap...
3     Cite-4  reservation of authority. the occ may determin...
4    Cite-43  obligation issued by an obligor not possessing...

In [15]:
df.describe()

       Section_ID Section_Text
count        5135         5135
unique       4911         4910
top       Cite-12   [reserved]
freq            8            8

In [16]:
#Dropping the not required Section_ID Column

df.drop(columns= ['Section_ID'],inplace=True)

In [17]:
df.head()

                                        Section_Text
0  authority. this part is issued pursuant to 12 ...
1  purpose this part prescribes standards under w...
2  scope. the standards set forth in this part ap...
3  reservation of authority. the occ may determin...
4  obligation issued by an obligor not possessing...

In [23]:
#Calculating similarity of two sentences (taking sentence 7 and sentence 8 in corpus i.e the ones with index no. 9 and 10)
#using Count Vectorizer

def cosine_distance_countvectorizer_method(s1,s2):
    
    allsentences = [data[7], data[8]]
    
    # text to vector
    vectorizer = CountVectorizer()
    all_sentences_to_vector = vectorizer.fit_transform(allsentences)
    text_to_vector_v1 = all_sentences_to_vector.toarray()[0].tolist()
    text_to_vector_v2 = all_sentences_to_vector.toarray()[1].tolist()
    
    
    # distance of similarity
    cosine = distance.cosine(text_to_vector_v1, text_to_vector_v2)
    print('Similarity of two sentences are equal to ',round((1-cosine)*100,2),'%')
    return cosine

                                           
data = list(df["Section_Text"])
cosine_distance_countvectorizer_method(data[7], data[8])

Similarity of two sentences are equal to  63.11 %

0.36890251384696937

In [25]:
#Calculating similarity of two sentences (taking sentence 7 and sentence 8 in corpus i.e the ones with index no. 9 and 10)
#using Tf-Idf Vectorizer

def cosine_distance_TfidfVectorizer_method(s1, s2):
     
    allsentences = [data[7], data[8]]
      
    # text to vector
    vectorizer = TfidfVectorizer()
    all_sentences_to_vector = vectorizer.fit_transform(allsentences)
    text_to_vector_v1 = all_sentences_to_vector.toarray()[0].tolist()
    text_to_vector_v2 = all_sentences_to_vector.toarray()[1].tolist()
    
    
    # distance of similarity
    cosine = distance.cosine(text_to_vector_v1, text_to_vector_v2)
    print('Similarity of two sentences are equal to ',round((1-cosine)*100,2),'%')
    return cosine

                                           
data = list(df["Section_Text"])
cosine_distance_TfidfVectorizer_method(data[7], data[8])

Similarity of two sentences are equal to  48.42 %

0.515844150064078